<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0faddc1af8.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-custom">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/" style="font-size: 24px; font-weight: bold;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/all_items" style="font-size: 24px; font-weight: bold;">Available items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/my_items" style="font-size: 24px; font-weight: bold;">My Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/item_register" style="font-size: 24px; font-weight: bold;">New Item</a>
                </li>
            </ul>
        </div>
    </div>
    <img src="/images/logo.jpg" height="100" >
</nav>

    <div class="container my-5 col-md-6">
        <table class="table table-stripped table-hover ">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Item name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Currency</th>
                <th scope="col">Type</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="b :${item}">
                <td th:text="${b.id}"></td>
                <td th:text="${b.itemName}"></td>
                <td class="description-cell" th:text="${b.description}" onclick="showDescription(this)"></td>
                <td th:text="${b.price}"></td>
                <td th:text="${b.currency}"></td>
                <td th:text="${b.type}"></td>
                <td> <a style="color:darkblue" th:href="@{/myList/{id}(id=${b.id})}"><i class="fa-solid fa-cart-shopping"></i></a>
                    <a style="color:darkblue" th:href="@{/editItem/{id}(id=${b.id})}"><i class="fa-solid fa-pen-to-square ms-4"></i></a>
                    <a style="color:red" th:href="@{/deleteItem/{id}(id=${b.id})}"><i class="fa-solid fa-trash ms-4"></i></a>
                </td>

            </tr>
            </tbody>
        </table>

    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>