<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet">

</head>
<body style="background-image: url('static/images/back.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;">
<nav class="navbar navbar-expand-lg navbar-light bg-custom" id="custom">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/" style="font-size: 24px; font-weight: bold;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/all_items" style="font-size: 24px; font-weight: bold;">Available items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/my_items" style="font-size: 24px; font-weight: bold;">My Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/item_register" style="font-size: 24px; font-weight: bold;">New Item</a>
                </li>
            </ul>
        </div>
    </div>
    <img src="/images/logo.jpg" height="100" >
</nav>

    <div class="container text-center my-5 ">
        <h1>Welcome to Ala-Too Shop </h1>
        <h4>Welcome to Ala Too Shop! Whether you're looking to buy or sell, our platform provides a convenient and hassle-free experience for all your shopping needs. Our marketplace features a wide variety of products, ranging from electronics and fashion to home goods and more. </h4>
     <!--   <img src="/images/mainPage.jpg  " width="1024" style="border-radius: 20px" >-->
    </div>
<div class="grid-container">
    <div class="grid-item">
        <a href="item_register">
            <img src="/images/new.jpg" alt="Avatar">
            <div class="overlay">
                <div class="text">Sell any item to students of our university</div>
            </div>
        </a>

    </div>
    <div class="grid-item">
        <a href="/all_items">
            <img src="/images/get.jpg" alt="Avatar">
            <div class="overlay">
                <div class="text">Buy any item from students of our university</div>
            </div>
        </a>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>